<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="achievements-section">
    <section class="section achievements" id="achievements">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">Achievements</h2>
                <p class="section-subtitle">
                    Recognitions and milestones I've reached along my journey
                </p>
            </div>
            <!--<div class="achievements-container">
                <div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fa-solid fa-play"></i>
                    </div>
                    <h3 class="achievement-title">22k Subscribers</h3>
                    <p class="achievement-description">
                        Built a thriving tech-focused YouTube channel with 22k+ subscribers by consistently creating high-quality tutorials, project walkthroughs, and career guidance content for aspiring developers and students.
                    </p>
                </div>-->

                <!--<div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fas fa-trophy"></i>
                    </div>
                    <h3 class="achievement-title">300+ bookings on Topmate</h3>
                    <p class="achievement-description">
                        Successfully mentored over 300 individuals through Topmate by offering personalized guidance on tech careers, coding, and project development — helping students and professionals grow with clarity and confidence.
                    </p>
                </div>-->

                <div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fa-solid fa-film"></i>
                    </div>
                    <h3 class="achievement-title">Qualified in three companies</h3>
                    <p class="achievement-description">
                        Averixis Solution, MSSquare, and Aimlay — showcasing strong skills, quick learning, and readiness for real-world challenges.
                    </p>
                </div>

                <div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fa-solid fa-code-merge"></i>
                    </div>
                    <h3 class="achievement-title">Qualified 3 times SSC exam</h3>
                    <p class="achievement-description">
                        Qualified the SSC exam three times, demonstrating consistency, strong aptitude, and determination.
                    </p>
                </div>
            </div>
        </div>
    </section>
</th:block>
</html>