<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="experience-section">
    <section class="section experience" id="experience">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">Experience</h2>
                <p class="section-subtitle">
                     Educational background
                </p>
            </div>
            <div class="timeline">
				<div class="timeline-item">
				                    <div class="timeline-icon">
				                        <i class="fa-solid fa-person-chalkboard"></i>
				                    </div>
				                    <div class="timeline-content">
				                        <div class="timeline-date">July 2024 - June 2026</div>
				                        <h3 class="timeline-title">MCA </h3>
				                        <h4 class="timeline-subtitle">Lovely Professional University</h4>
				                        <p class="timeline-description">
				                            Cgpa - 7.8
				                        </p>
				                    </div>
				                </div>

                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-person-chalkboard"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">June 2021 - June 2024</div>
                        <h3 class="timeline-title">BCA </h3>
                        <h4 class="timeline-subtitle">Dhanarua Training Institute (Aryabhata University)</h4>
                        <p class="timeline-description">
                            Cgpa - 8.6
                        </p>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-code"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">June 2016 - November 2019</div>
                        <h3 class="timeline-title">BSC Mathmatics(Hons)</h3>
                        <h4 class="timeline-subtitle">Pannu Lal College(Magadh University)</h4>
                        <p class="timeline-description">
                            Percentage - 64%
                        </p>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-clapperboard"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">March 2014 - March 2016</div>
                        <h3 class="timeline-title">Intermidiate</h3>
                        <h4 class="timeline-subtitle">CBSE - The Earth Public School</h4>
                        <p class="timeline-description">
                           Percentage - 54%
                        </p>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-chalkboard-user"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">March 2013 - march 2014</div>
                        <h3 class="timeline-title">Marticulation</h3>
                        <h4 class="timeline-subtitle">CBSE - S.T Mary's School</h4>
                        <p class="timeline-description">
                            Cgpa - 8.6
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
</html>